body {
    background-color: rgb(13, 13, 14);
    text-align: center;
    color: rgb(243, 241, 238);
    touch-action: none;
}

.image {
    align-items: center;
    margin-top: 20%;
    width: 50em;
    height: 50em;
}